<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asiozon-customerservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7d4b85f1-a27c-4781-9d24-91c61fef3548/resourceGroups/ServerlessResources/providers/Microsoft.Web/sites/asiozon-customerservice</ResourceId>
    <UserName>$asiozon-customerservice</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://asiozon-customerservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>